* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.enlace {
  border-bottom: dotted 4px #ffc017;
  width: 75%;
  margin-left: 12rem;
  padding-top: 4rem;
  padding: 3rem;
}
.enlace nav {
  font-size: 50px;
  font-style: oblique;
  letter-spacing: 6px;
}
.enlace img {
  width: 4cm;
  height: 4cm;
  float: right;
}
.enlace h1 {
  font-size: 40px;
}
.enlace h2 {
  font-size: 25px;
  font-style: italic;
}
.enlace option {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.enlace button {
  margin-top: center;

  margin-right: 15cm;
  background-color: #ffc017;
}
#btn1 {
  margin-left: 15cm;
}
