header {
  background-color: var(--cp);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  text-transform: uppercase;
  text-decoration-line: none;
}
