* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.homepage {
  text-align: center;
}

.title {
  font-size: 90px;
  font-style: initial;
  padding-top: 2cm;
}

.enlaces {
  font-size: 30px;
}
header {
  background-color: var(--cp);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  text-transform: uppercase;
  text-decoration-line: none;
}
