* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.form-register {
  width: 500px;
  height: 400px;
  background: #ffc017;
  margin: auto;
  margin-top: 75px;
  border-radius: 20px;
  box-shadow: 7px 13px 37px #000;
  padding: 18px 50px;
}
.h1 {
  width: center;
  height: 40px;
  text-align: center;
  font-size: 35px;
}
.controls2 {
  width: 400px;
  margin-bottom: 4px;
  padding: 13px 13px;
  border-bottom: none;
}
