* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  --cp: #ffc017;
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
header {
  background-color: var(--cp);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
footer {
  background-color: var(--cp);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: black;
}

button {
  border: 1.7px solid #000000;
  padding: 9px;
  background-color: whitesmoke;
  color: #040404;
  text-transform: uppercase;
  border-radius: 10px;
}

/*votar enlace*/
.votaenlace .on {
  color: #ffc017;
}
.votaenlace .of {
  color: #7d7d7a;
}
